language: php

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
      dist: precise
    - php: 5.5
      dist: precise
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4snapshot
    - php: nightly
    - php: 8.0
  allow_failures:
    - php: nightly

env:
  - COMPOSER_ALLOW_XDEBUG=0

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer validate

install:
  - composer install

script:
  - composer test:all

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/clover.xml